# Supabase Configuration
VITE_SUPABASE_URL=https://qqamfbxqmncgjfxqnfvj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eQnRUZjuZJSuV-BvHpzTEQ_fyO8mBFr

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=
